<html>
<head>
  <title>Bookers</title>
</head>
<body>
   <p class="youkoso">ようこそ
    <storong>Bookers</storong>
    へ！
   </p>
    <p class="youkoso2">
     <strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や
    </p>
    <p class="youkoso2">印象を共有し交換することができます</p>
   <%= link_to "start", books_path(@book), {class: "youkoso3"}%>
</body>
</html>