// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.youkoso {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:35px;
  font-size:25px;
  margin: 20px 33px 5px 33px;
}

.youkoso2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 60px;
}

.youkoso3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 60px;
}