// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.youkoso {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-weight: 700;
  line-height:35px;
  font-size:27px;
  margin: 20px 33px 10px 33px;
}

.youkoso2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 65px;
}

.youkoso3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 40px 5px 65px;
}

.youkoso4 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin: 5px 0px 5px 30px;
}

.youkoso5 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:50px;
  font-size:13px;
  margin-top:50px;
}

table th {
  ont-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:14px;
  font-weight: 700;
}

table td {
  ont-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:14px;
  padding-left: 33px;
}

.books-form1 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-weight: 700;
  line-height:25px;
  font-size:20px;
  margin: 5px 0px 5px 30px;
}

.books-form2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:20px;
  font-size:13px;
  margin: 5px 0px 5px 30px;
}

.books-form3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  width:50px;
  height:20px;
  margin-left:30px;
  margin-bottom:10px;
}

.edit {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  line-height:5px;
  font-size:13px;
  margin-left:30px;
}

.edit-form {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  width:50px;
  height:20px;
  margin-left:30px;
}

.edit2 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:13px;
  margin-left:30px;
  margin-top:45px;
}

.edit3 {
  font-family:"verdana", "arial", "helvetica", "sans-serif";
  color:#333333;
  font-size:13px;
}